.layout-container {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  backface-visibility: hidden;
  will-change: overflow;
  border: 1px dashed green;
}

.left-nav-container {
  top: 48px; /*Height of navbar*/
  width: 250px;
  min-width: 250px;
  background-color: rgb(234, 234, 234);
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d6d6d6;
  border: 1px solid black;
}

.content-container {
  flex-grow: 1;
  overflow-y: overlay;
  height: auto;
  padding: 0.5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  border: 1px solid red;
}

.scrollbar {
}

.full-height {
  height: 100%;
  overflow: auto;
}
/******************************** feck knows where these came from ********************************************/
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  background: white;
  transition: all 200ms ease;
  transition-property: left, top;
  border: 1px solid grey;
  border-radius: 5px;
}
.cssTransforms {
  transition-property: transform;
}

.react-grid-placeholder {
  background: darkblue;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

/********************************** dashboard ******************************/
.dashboard-widget {
  overflow: hidden;
}
.widget {
  padding: 5px 10px;
  height: 100%;
}
.widget-edit {
  cursor: move;
}

.dashboard-wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.dashboard-grid {
  position: relative;
}

.trend-widget {
  width: 100%;
  height: 100%;
  border: 3px blueviolet ridge;
}
